@import "tailwindcss";

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Animação básica */
.fade-in {
  animation: fadeIn 0.8s ease-out forwards;
}

/* Versões com delay (para aparecer depois) */
.fade-in-delay-1 {
  animation: fadeIn 0.8s ease-out 0.3s forwards;
}

.fade-in-delay-2 {
  animation: fadeIn 0.8s ease-out 0.6s forwards;
}
